.girl-container {
     text-align: center; 
     display: inline-block;  
     /* margin-bottom: 10px; */
}
.girl {
    /* padding: 3px; */
     border: 1px solid lightblue; 
    height: 250px;
}

.girl:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}