.jumbotron {
    
    text-align: center;
    border-radius: 0 !important;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 31px;
    width:100%;
    
}

.fa {
    color:white;
    -webkit-text-stroke:4px rgb(177, 170, 169)
}

.blue {
    color: blue;
    
}
